<div class="page-header">
  <h1>Michael Cleyn</h1>
</div>

<p>this website is fully responsive</p>
<p>I play music.</p>
<p>I share different things that I do here.</p>
<p>I work at Shopify.</p>
<p>You can find me online here, here or email me here.</p>


