<div class="main_container">
	<div class="main_header">
		<p id="disappear2">Hi, my name is <span>Michael Cleyn</span></p>
	</div>

	<div class="main_content">
		<p>Click these links below to get to know me.</p>
		<a class="work-links blog" href="https://medium.com/@michaelcleyn" target="_blank">my blog</a>
		<a class="work-links twitter" href="https://twitter.com/michaelcleyn" target="_blank">my tweets</a>
		<a class="work-links insta" href="https://instagram.com/michaelcleyn/" target="_blank">my music</a>
 		<p class="contact">If you want you <a href="mailto:michaelcleyn@gmail.com">can email me</a> or <a href="https://www.linkedin.com/pub/michael-cleyn/58/27b/5b1" target="_blank">linkedIn me.</a></p>
 	</div>
</div>

<div class="footer">
	<div class="footer_content">
		<!-- <button id="button">click here to read this site in spanish</button> -->
		<p>mobile friendly websites &copy; Michael Cleyn 2015</p>
	</div>
</div>
