<div><h1>Michael Cleyn</h1></div>

<p>this website is fully responsive</p>
<p>I play music.</p>
<p>I write about things things that I do <a href="https://medium.com/@michaelcleyn" target="_blank">here.</a></p>
<p>I work at <a href="https://www.shopify.com/jobs" target="_blank">Shopify.</a></p>
<p>You can find me online <a href="https://twitter.com/michaelcleyn" target="_blank">here</a>,
<a href="">here</a>, or
 <a href="mailto:michaelcleyn@gmail.com">email me here.</a></p>


