/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	font-size:18px;
	font-family: 'Raleway', sans-serif;
}

.main_container {
	/*border:1px solid black;*/
	margin:30px;
}

.main_header {
	border-bottom:1px solid #000;
	margin:0;
}

.main_header span {
	font-size: 30px;
	font-weight:500;
	letter-spacing: -1px;
}

.main_content p {
	margin-top:40px;
	/*border:1px solid blue;*/
}

.main_content .work-links {
	/*border:1px solid red;*/
}

.main_content .twitter {
	margin:50px 50px;
}

.contact {
 /*border-top:1px solid #000;*/
 padding-top:10px;
}

.footer {
	text-align: center;
	position: fixed;
	bottom:0;
	width: 100%;
	font-size:12px;
}

@media (max-width: 410px) {
	.work-links {
		/*border:1px solid red;*/
		display:block;
	}
	.main_content .twitter {
		margin:0px;
		padding:5px 0 5px 0;
	}
}
